.features {
  position: relative;
  color: #ffffff;
  background-color: $textcolor;
  padding-left: 0;
  padding-right: 0;

  &--bottom {
    position: absolute;
    bottom: 0;
    left: 0;

    .features__title {
      width: 50%;
    }
  }
}

.features__title {
  position: relative;
  width: 60%;
  margin-bottom: 60px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 11px;
    background-color: #ffffff;
  }
}

.features__subtitle {
  font-size: 47px;
  margin-bottom: 50px;
}

.features__text {
  margin-bottom: 120px;
}

.features__more {
  color: inherit;
}

.features__pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.features__btn-block {
  padding-left: 0;
  padding-right: 0;
  background-color: #ffffff;
}

.features__btn {
  width: 100%;
  vertical-align: bottom;
  border-radius: 0;
  background-color: #ffffff;

  span {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    height: 990px;

    &--bottom {
      height: 950px;

      .features__wrapper {
        margin-top: 55px;
      }
    }
  }

  .features__wrapper {
    padding-left: 65px;
    padding-right: 65px;
    margin-top: 50px;
  }

  .features__title {
    padding-bottom: 35px;

    &::after {
      height: 5px;
    }
  }

  .features__text {
    margin-bottom: 125px;
  }
  .features__sub {
    font-size: 32px;
  }
}

@media (min-width: $large-width) {
  .features {
    height: 1390px;

    &--bottom {
      height: 1300px;

      .features__wrapper {
        margin-top: 170px;
      }
    }
  }

  .features__wrapper {
    padding-left: 85px;
    padding-right: 85px;
    margin-top: 80px;
  }

  .features__title {
    padding-bottom: 60px;

    &::after {
      height: 11px;
    }
  }

  .features__text {
    margin-bottom: 250px;
  }

  .features__sub {
    font-size: 40px;
  }
}
