.magazine {
  background-color: #ffffff;
  background-image: url("../img/bg-skater@1x.jpg");
  background-repeat: no-repeat;
}

.magazine__caption {
  text-align: center;
}

.magazine__title {
  text-align: center;
}

.magazine__body {
  margin-left: 0;
  margin-right: 0;
}

.magazine__images-row {
  margin-left: -55px;
}

.magazine__image-column {

  &:first-child {
    padding-left: 0;
    padding-right: 0;
  }
}

.magazine__image {
  display: block;

  &--small {
    max-width: 448px;
    max-height: 734px;
    margin-top: 100px;
  }

  &--big {
    max-width: 732px;
    max-height: 943px;
  }
}

.magazine__text-column {
  padding-left: 120px;
}

.magazine__current {
  color: #1f1f1f;
}

.magazine__btn {
  text-transform: capitalize;
  background-color: $textcolor;
}

@media (min-width: $desktop-width) {
  .magazine {
    padding-top: 100px;
    padding-bottom: 250px;
    background-position: 50% 0;
  }

  .magazine__head {
    margin-bottom: 150px;
  }

  .magazine__image {
    display: block;

    &--small {
      max-width: 448px;
      max-height: 734px;
      margin-top: 65px;
    }

    &--big {
      max-width: 732px;
      max-height: 943px;
    }
  }

  .magazine__image-column {
    &:last-child {
      padding-left: 70px;
    }
  }

  .magazine__current {
    font-size: 26px;
    margin-top: 28px;
  }

  .magazine__date {
    font-size: 70px;
    line-height: 105px;
  }

  .magazine__content {
    margin-bottom: 80px;
  }

  .magazine__btn {
    width: 200px;
    height: 70px;
  }
}

@media (min-width: $large-width) {
  .magazine {
    padding-top: 220px;
    padding-bottom: 555px;
    background-position: 50% 350%;
  }

  .magazine__head {
    margin-bottom: 220px;
  }

  .magazine__image {
    display: block;

    &--small {
      max-width: 448px;
      max-height: 734px;
      margin-top: 100px;
    }

    &--big {
      max-width: 732px;
      max-height: 943px;
    }
  }

  .magazine__image-column {
    &:last-child {
      padding-left: 130px;
    }
  }

  .magazine__current {
    font-size: 40px;
    margin-top: 100px;
  }

  .magazine__date {
    font-size: 106px;
    line-height: 150px;
  }

  .magazine__content {
    margin-bottom: 100px;
  }

  .magazine__btn {
    width: 430px;
    height: 150px;
  }
}

