.main-header__nav {
  font-size: 32px;
  line-height: 54.96px;
  color: #000000;
  margin-bottom: 0;
  background-color: #ffffff;
}

.main-header__logo {
  display: block;
  margin-top: 25px;
}

.main-header__menu-block {
  padding-top: 56px;
  padding-bottom: 56px;
  width: 77%;
  margin-left: auto;
}

.main-header__menu {
  width: 60%;
}

.main-header__menu-item {

}

.main-header__user-nav {
  float: right;
  width: 15%;
  background-color: #f3f3f3;
}
