.stories {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 200px;
  background-image: linear-gradient(to right, #f6f6f6 0%, #f6f6f6 50%, #ffffff 50%, #ffffff 100%);
}

.stories__head {
  padding-bottom: 105px;
}

.stories__title {
  font-size: 86px;
  line-height: 145px;
  font-weight: 700;
  color: #1f1f1f;
  margin-top: 0;
  margin-bottom: 0;
}

.stories__btn {
  margin-left: auto;
  margin-right: auto;
}

.stories__row {
  margin-left: -40px;
  margin-right: -40px;
}

.stories__item {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 100px;
}

.stories__foot-block {
  padding-top: 100px;
  padding-bottom: 200px;
}
